
process.executor = "local"
plugins {
  id 'nf-schema@2.6.1'
}

/**************************** ANNOTATE parameters ****************************/
params {
    build                      = "hg38"
    input                      = null
    outdir                     = null
    workflow                   = null 
    vcf_format                 = null
    offline                    = true
    center                     = null
    annovar_software_dir       = null
    skip_bcftools              = false
    max_freq                   = null
    skip_genebe                = false
    panel                      = null
    // ------- GENEBE PARAMS - REQUIRED IF OFFLINE == FALSE -----------------------------------------------------------
    gb_user                    = null
    gb_api_key                 = null
    http_proxy                 = null
    https_proxy                = null
    // ------- VEP PARAMS ---------------------------------------------------------------------------------------------
    download_vep_plugins       = false
    use_vep_plugins            = false
    data_dir                   = null
    n_core                     = 8
    // ---------- OTHER -----------------------------------------------------------------------------------------------
    igenomes_base = 's3://ngi-igenomes/igenomes/'
    custom_config_version = 'master'
    custom_config_base = 'https://raw.githubusercontent.com/nf-core/configs/master'
    publish_dir_mode = 'copy'
    validate_params = true
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/davide-scognamiglio/test-datasets/'
    email = null
    genome = null
    fasta = null
    igenomes_ignore = false

    config_profile_name = null
    config_profile_description = null
    config_profile_contact = null
    config_profile_url = null

    version = false
    email_on_fail = null
    plaintext_email = false
    monochrome_logs = false
    hook_url = null

    help_full = false
    show_hidden = false
}

// Load nf-core custom profiles from different institutions
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


timeline {
  enabled = true
  file = "${params.outdir}/timeline.txt"
}

trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
}

report {
  enabled = true
  file = "${params.outdir}/report.html"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_dag.html"
}

process {
  cpus = 1
  memory = 4.GB
  time = 2.h
}

/**************************** Profiles ****************************/
profiles {
    test {
        params.input                 = "tests/data/samplesheet.csv"
        params.outdir                = "output"
        params.use_vep_plugins       = false
        params.workflow              = "annotate"    
        params.vcf_format            = "multicaller"
        params.n_core                = 8
    }

    docker {
        docker.enabled = true
        // Conditional binding for ANNOVAR only if workflow is "annotate"
        def annovar_bind = params.workflow == "annotate" && params.annovar_software_dir ? "-v ${params.annovar_software_dir}:/annovar" : ""
        process.containerOptions = "--user root -v ${params.data_dir}:/data ${annovar_bind} -e http_proxy=${params.http_proxy} -e https_proxy=${params.https_proxy}"
    }

    singularity {
        singularity.enabled = true
        // Conditional binding for ANNOVAR only if workflow is "annotate"
        def annovar_bind = params.workflow == "annotate" && params.annovar_software_dir ? "--bind ${params.annovar_software_dir}:/annovar" : ""
        process.containerOptions = "--bind ${params.data_dir}:/data ${annovar_bind}"
    }

    podman {
        podman.enabled = true
        def annovar_bind = params.workflow == "annotate" && params.annovar_software_dir ? "-v ${params.annovar_software_dir}:/annovar" : ""
        process.containerOptions = "--user root -v ${params.data_dir}:/data ${annovar_bind}"
    }
}

/**************************** Manifest ****************************************************/
manifest {
    name            = 'nf-core/variantannotation'
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'D. Scognamiglio, E. Bonetti',
            affiliation: 'IRCCS Istituto Ortopedico Rizzoli',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage = 'https://github.com/nf-core/variantannotation'
    description     = """Ultra-deep, multi-source variant annotation"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0dev'
    doi             = ''
}

/**************************** Configs ****************************************************/

/**************************** Tower ****************************************************/
tower {
    enabled = false
}

    // Resource limits
    max_cpus                   = 24 // Max CPU limit
    max_memory                 = '30 GB' // Max memory limit

/**************************** Function to Limit Resources ****************************/

// Function to ensure that resource requirements don"t go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == "memory") {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == "time") {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == "cpus") {
        try {
            return Math.min(obj, params.max_cpus as int)
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}


