params {
    // ------- BASIC PARAMS - MANDATORY -------------------------------------------------------------------------------
    input                      = "tests/data/samplesheet.csv"
    outdir                     = "musa_output"
    workflow                   = "annotate" // type of analysis: germline, setup, benchmark. If not defined, benchmark is used   
    vcf_format                 = "multicaller" // sarek or multicaller
    center                     = ""
    // ------- GENEBE PARAMS - REQUIRED IF OFFLINE == FALSE -----------------------------------------------------------
    gb_user                    = "davide.scognamiglio@ior.it"
    gb_api_key                 = "ak-eCtNpKDhTMSkyf8CVAHOgIGLSdvm80Xg"
    http_proxy                 = "http://proxy.internal.ior.it:8888/"
    https_proxy                = "http://proxy.internal.ior.it:8888/"
    // ------- VEP PARAMS ---------------------------------------------------------------------------------------------
    n_core                     = "16"
    use_vep_plugins            = false
}

