params {
    input                 = "tests/data/samplesheet.csv"
    outdir                = "output"
    use_vep_plugins       = false
    offline               = false
    workflow              = "annotate"    
    vcf_format            = "multicaller"
    annovar_software_dir  =  ""
    center                = ""
    n_core                = "12"
}

process {
    withName: '*': {
        cpus   = 1
        memory = '1 GB'
        time   = '10m'
    }
}